<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link href='//fonts.googleapis.com/css?family=Poiret+One|Quicksand' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>
  <%= csrf_meta_tags %>
  <base href="/" />
</head>
<body class="user" ng-app="<%= angular_module %>" ng-controller="RootCtrl">
  <div class="spa-view" ui-view="main"></div>
  <%= yield %>
</body>
</html>
